.main{
  height: 100%;

}
.input-container{
  padding: 10px;
  display: flex;
  justify-content: center;
}
.result-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result{
  background-color: aqua;
  width: 40%;
  padding: 20px;
  margin: 10px;
}
